

.login-section {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: auto;
    background-image: url(../images/32.webp);
    background-position: center;
    background-size: cover;

    align-items: center;
    height: 100vh;
    
    color:#4e4e4e;
}

.login-container {
    width: 400px;
    height: 450px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    color: #3a3a3a;
    backdrop-filter: blur(10px);
}

.avatar {
    margin-bottom: 20px;
}

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
}

section {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.icon { 
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 35px;
    background-color: rgba(112, 112, 112, 0.2);
    border: none;
    border-radius: 5px;
    color: #796d6d;
    font-size: 16px;
}

input::placeholder {
    color: #4e4e4e;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.options a {
    color: #2e2e2e;
    text-decoration: none;
}

button {
    padding: 10px;
    background-color: #003366;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #004080;
}

.regester button{
    width: 100%;
    background-color: #249b0a;
}
.sign button{
    width: 100% ;
}