* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

.container {
   
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
     margin-top: 90px;
    gap: 40px;
}

.form-section, .summary-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    flex: 1;
}

.button-group {
    margin-bottom: 20px;
    text-align: center;
}

.button-primary {
    background-color: #000000;
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: default;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-checkbox {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.input-checkbox input {
    margin-right: 8px;
}

.paym h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.payment-methods label {
    display: block;
    margin: 10px 0;
    font-weight: 400;
    cursor: pointer;
}

.online-payment-fields {
    margin-bottom: 15px;
}

.place-order {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.place-order:hover {
    background-color: #000000;
}

.summary-section h2 {
    margin-bottom: 15px;
    font-size: 22px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.order-summary {
    padding: 10px 0;
    font-size: 15px;
    line-height: 1.6;
}




.summary-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.summary-item img{
    width: 100px;
}

.summary-total {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
