*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}




.filter-section {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .filter-header {
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 20px 0px;
  }

  .filter-header::after {
    margin-right: 100px;
    content: "▲";
    font-size: 15px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  .filter-header.collapsed::after {
    transform: rotate(180deg);
  }

  .filter-options {
    margin-top: 10px;
    display: none;
  }

  .filter-options a{
    margin-bottom: 10px;
    display: block;
    
  }

  .filter-header-color {
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 20px 0px;
  }
  .filter-header-color::after {
    margin-right: 100px;
    content: "▲";
    font-size: 15px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  .filter-header-color.collapsed::after {
    transform: rotate(180deg);
  }

  .filter-header-collection {
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 20px 0px;
  }
  .filter-header-collection::after {
    margin-right: 100px;
    content: "▲";
    font-size: 15px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  .filter-header-collection.collapsed::after {
    transform: rotate(180deg);
  }






body {
   
    background-color: #f8f8f8;
}

.container {
    padding-top: 100px;
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.sidebar {
    position: fixed;
    width: 20%;
    padding-right: 20px;
}

.sidebar h2, .sidebar a {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000 ;
}



.main {
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin-left: 260px;
    font-size: 24px;
    font-weight: bold;
}

.products {
    margin-left: 260px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background-color: #ffffff;
    padding: 15px;
    border: none;
    text-align: left;
}

.product img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 16px;
    font-weight: bold;
    color: #2c2c2c;
    margin-bottom: 5px;
}

.product p {
    font-size: 14px;
    color: #757575;
    margin-bottom: 5px;
}
.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.tag {
    font-size: 14px;
    color: #ee1c47;
    font-weight: bold;
    margin-bottom: 7px;
}

.price {
    font-size: 16px;
    color: #2c2c2c;
    font-weight: bold;
}

.shop-product-pagination{
    margin: 25px;
}
.shop-product-pagination-item{
    background-color: #000;
    border-radius: 5px;
}



