* {
    box-sizing: border-box;
}

#stats-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#stats-ctn::-webkit-scrollbar {
    display: none;
}

#chart-ctn {
    position: relative;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 100%;
}

#chart-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0px 5px 3px 0px;
}

#chart-mode-ctn {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 3px;
}

#chart-reload,
#chart-mode {
    border: 1px solid black;
    background: none;
    height: 30px;
    width: 20%;
    margin-left: 3px;
}

#chart-reload:hover,
#chart-mode:hover {
    background: lightgray;
}

#chart-input-warning {
    width: 100%;
    height: 30px;
    font-size: 18px;
    position: absolute;
    top: 40%;
    text-align: center;
    display: none;
    flex-direction: row;
    justify-content: center;
    line-height: 30px;
    color: gray;
}

#chart-input-warning.active {
    display: flex;
}

#chart-input-warning i {
    margin-right: 5px;
    font-size: 30px;
    color: gray;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#stats-menu-option-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0px;
    background: whitesmoke;
    width: 20%;
    border-left: 1px solid black;
    height: 100vh;
    padding-top: 20px;
}

.stats-option-ctn {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 80%;
    overflow: auto;
}

#stats-time {
    width: 100% !important;
}

.stats-option-ctn.border {
    border: 2px solid black;
    width: 100%;
    padding: 5px;
}

.stats-option-slt {
    border-radius: 0;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    font-size: 16px;
    color: rgb(73, 73, 73);
    outline: none;
    margin: 3px 0px 5px 0px;
}

#stats-by-slt option {
    font-size: 16px;
    color: rgb(73, 73, 73);
    background-color: #fff;
}

#category-menu label {
    margin: 3px 0 3px 0;
}

.category-cb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid black;
    background: none;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    position: relative;
}

.category-cb:focus {
    outline: none;
    color: gray;
    background: none;
    box-shadow: none;
}

.category-cb:checked::after {
    content: "\2713";
    position: absolute;
    top: -11px;
    left: -1px;
    font-size: 20px;
    color: black;
}

#stats {
    margin-top: 10px;
    width: 100%;
}

#weekly-stats-ctn {
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 5px;
}

#weekly-stats-ctn>div {
    width: calc(33.33333% - 10px);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background: lightgray;
}

#ranking-select {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    outline: none;
    margin: 10px 0 10px 0;
    font-size: 18px;
}

#ranking-time
{
    display:none;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.ranking-time-input
{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ranking-time-input input
{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: none;
    outline: none;
    font-size: 18px;
}

#ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

#ranking-table thead {
    background-color: #f5f5f5;
}

#ranking-table th,
#ranking-table td {
    padding: 10px 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}

#ranking-table th {
    font-weight: bold;
    color: #333;
}

#ranking-table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

#ranking-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}